@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  background-color: rgb(236, 244, 252);
}
.navbar {
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); /* Example shadow values, adjust as needed */
}

nav.navbar > div.container-fluid > a.navbar-brand {
  color: rgb(236, 244, 252);
  font-size: 1.8rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

footer {
  color: white;
  margin-bottom: 0%;
  height: auto;
  justify-content: center;
  text-align: center;
}
footer a {
  color: rgb(148, 148, 148);
}
footer a:hover {
  color: rgb(0, 119, 255);
}

header {
  height: 6vh;
}
header a {
  margin-left: 2vw;
}



thead {
  background-color: rgb(6, 126, 247);
  color: white;
}

tbody tr {
  background-color: rgb(22, 96, 170);
  color: white;
}

hr {
  color: gold;
}

main.container {
  background-color: rgb(22, 96, 170);
  width: 80%;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  border: 0.1rem solid rgb(18, 86, 131);
  border-radius: 1rem;
}
main.container h2 {
  color: rgb(255, 6, 6);
  font-size: large;
}
main.container a {
  color: rgb(2, 242, 250);
  font-size: large;
}

h2 {
  color: rgb(0,0,0);;
  font-size: large;
}

h3 {
  color: rgb(248, 248, 255);
  font-size: medium;
}

h5 {
  color: rgb(255, 255, 255);
  font-size: medium;
}
hr {
  color: rgb(243, 179, 4);
}
h5.modal-title {
  color: black;
}

h2#scrip {
  font-size: medium;
  color: rgb(253, 251, 251);
}
span {
  color: rgb(203, 223, 235);
}

/* new for index.html */
.box-with-rounded-corners {
  border-radius: 10px;
}

.container .row {
  margin-bottom: 10px;
}


/* Update CSS to accommodate the sidebar */

/* Global styles */
body {
  display: flex;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  background-color: rgb(18, 62, 105);
  color: white;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar a:hover {
  color: azure;
}

/* Main content styles */
.main-content {
  flex: 1;
  padding: 20px;
}
