<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Signup Page</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
  </head>
  <body>
    <div class="center">
      <h1>Signup</h1>
      <form method="post" action="/signup.html">
        <div class="txt_field">
          <input type="text" name="username" required>
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password" required>
          <span></span>
          <label>Password</label>
        </div>
        <div class="txt_field">
          <input type="Phone" name="phone" required>
          <span></span>
          <label>Phone</label>
        </div>
        <div class="txt_field">
          <input type="Email" name="email" required>
          <span></span>
          <label>email</label>
        </div>
        
        <input type="submit" value="Create Account">
        <div class="signup_link">
          <a href="/">Home</a>
        </div>
      </form>
    </div>
  </body>
</html>
